.pane_color{
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #47467b, #f7b1c3);
}

.scrollbar_color{
  -fx-background-color:linear-gradient(from 81% 81% to 9% 9%, #1c1c1c,#f9f2e7)
}

.main {
  -fx-background-color:linear-gradient(from 9% 9% to 81% 81%, #353a5f,#561139)
}

.preppy {
  color: #f9f2e7;
  font-weight: 1080;
}

.genre_color1{
  -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #f89b98, #f8d49b);
}
.genre_color2{
  -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #75bde0, #f8bc9b);
}
.genre_color3{
  -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #b9cc95, #ff9f97);
}
.recently_p{
  -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #f2e2e5, #d35a7f);
}
